*.swp
*.stackdump
*.aux
C-notes*.fls
C-notes*.log
C-notes*.pdf
C-notes*.out
C-notes*.toc
C-notes*.bbl
C-notes*.blg
C-notes*.idx
C-notes*.ilg
C-notes*.ind
C-notes*.fdb_latexmk
C-notes*.xml
